PRIVATE_KEY=
INFURA_API_KEY=
ETHERSCAN_API_KEY=
ROOTSTACK_API_KEY=
GAS_REPORT=true
COINMARKETCAP_API_KEY=
# GALADRIEL
GALADRIEL_RPC_URL="https://devnet.galadriel.com/"
AGENT_CONTRACT_ADDRESS="0xEf9310Ec551024585b1a290B286276B58d795EFc"